@charset "utf-8";
/* CSS Document */

body{
	background-color: #f2f2f2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1{
	color: navy;
}

h3{
	text-align:center;
	font-size: 18px;
	color: #cc0000;
}

#main{
	text-align: center;
	border: thin solid black;
	width: 800px;
	background-color: white;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.results{

}

.menucontainer{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	text-align: left;
}

.menucontainer a{
	font-size: 18px;
	color: blue;
	text-decoration: underline;
}

.menucontainer a:hover{
	color: #333333;
	text-decoration: none;
}

.mainmenu{
	list-style-image: url(../images/create_icon.gif);
}